module "{{fqn}}" {
    source = "{{ module_source }}"
    env  = "{{ env }}"
    profile = "{{ profile }}"
    fqn = "{{ fqn }}"
    workload = "{{ workload }}"
    cmd_id = "{{ cmd_id }}"
    topic_name  = "{{ params["topic_name"] }}"
    tags = {
    {% for k, v in  params['tags'].items() -%}
        "{{ k }}" = "{{ v }}"
    {% endfor -%}
}
}